body {
    font-family: Arial, sans-serif;
    padding-top: 80px;
}

.navbar {
    border-bottom: 1px solid #ddd;
}

.nav-link {
    color: #555;
}

.nav-link:hover {
    color: #777;
}

.container {
    max-width: 960px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.card-title {
    color: #333;
    font-size: 1.2em;
    font-weight: bold;
}

.card-text {
    color: #777;
    line-height: 1.6;
}

.btn-primary {
    background-color: #FF5A1D;
    border: none;
}

.btn-primary.dropdown-toggle {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    padding: 12px 24px;
    font-size: 16px;
}

.btn-primary.dropdown-toggle:hover,
.btn-primary.dropdown-toggle:focus {
    background-color: #3e8e41;
}

.dropdown-menu {
    border: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-item {
    color: #333;
}

.dropdown-item:hover {
    color: #4CAF50;
    background-color: #f9f9f9;
}


